.content-pane  {
    -fx-padding: 10;
 }

.content-pane  > * {
    -fx-font-size: 10;
    -fx-focus-traversable: false;
}

.component-details {
    -fx-spacing: 5;
    -fx-padding: 5;
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-effect:dropshadow(gaussian, black, 10, 0.5, 0, 0);
}


.class-component {
    -fx-text-fill: black;
    -fx-font-style: italic;
    -fx-font-weight: bold;
}

.field-component, .styles-component {
    -fx-opacity: 0.75;
    -fx-background-color: lightgray;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-border-radius: 4;
    -fx-background-radius: 8;
    -fx-padding: 0 10 0 10;
    -fx-alignment: center-right;
}

.styles-component {
    -fx-background-color: lightskyblue;
}

